# (1) Установка всех необходимых пакетов

In [3]:
import pymysql.cursors
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

# (2) Настройка связи с mysql

In [2]:
conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="")
cur = conn.cursor()
cur.execute ("""USE orders;""")

# (3) Определение функций

In [60]:
def GetTicker ():
    print ('Сейчас Вам будет предложено ввести данные для заполнения книги заявок')
    correct = 0
    while correct == 0:
        seccode = input ('Введите тикер: ')
        cur.execute("SELECT count(*) FROM security_type WHERE (seccode = '"+ seccode +"');")
        if cur.fetchall() != [(0,)]:
            correct = 1
        else:
            print ('Вы ввели некорректный тикер. Повторите ввод')
    return(seccode)

def GetTime():
    correct = 0
    while correct == 0:
        time = int(input ('Введите момент времени (момент времени должен быть записан в формате HHMMSSQQQ): '))
        if int(time) in range(100000000,235959999):
            correct = 1
        else:
            print ('Вы ввели некорректный момент времени. Повторите ввод')
    return(time)

def DefineTable(seccode):
    cur.execute("SELECT instrument_type FROM security_type WHERE (seccode = '%s');" %(ticker))
    if cur.fetchall() == [('ordinary share',)]:
        table = 'ordshares'
    else:
        cur.execute("SELECT instrument_type FROM security_type WHERE (seccode = '%s');" % (ticker))
        if cur.fetchall() == [('preffered share',)]:
            table = 'prefshares'
        else:
            table = 'bonds'
    return(table)

def ReverseToDateTime(t):
    format = '%d.%m.%Y%H%M%S%f'
    time_str = dt.datetime.strptime(t,format)
    return time_str

def iceberg(data_from_postgres):
    data = data_from_postgres
    #place - датафрейм (ДФ), который содержит наблюдения только по выставленным заявкам (ACTION = 1)
    #в ДФ содержатся данные по номеру заявки и выставленному объему (видимому)
    #iceberg = 1, если обнаружено, что выставленная заявка - айсберг. 0 - иначе
    #TIME_IDENT - время вскрытия заявки типа "айсберг". время указано для заявки, вскрывшей айсберг (снятие заявки или сделка) 
    place = data[data['ACTION']=='1']
    place = place[['ORDERNO', 'VOLUME']]
    place['ICEBERG'] = 0
    place['TIME_IDENT'] = 0
    place['VOLUME_INI'] = 0
    place['VOLUME_INI'] = place['VOLUME']
    place.index = place['ORDERNO']
    
    #iceberg - ДФ с данными по снятым заявкам и по сделкам (ACTION = 0 или ACTION = 2)
    iceberg = data[data['ACTION']!='1']
    iceberg = iceberg.reset_index()
    iceberg = iceberg[['ORDERNO', 'VOLUME', 'TIME']]
    
    #Идея: 
    #ДФ place содержит только уникальные наблюдения по каждому ORDERNO (ORDERNO - уникальный ключ для ДФ place)
    #для каждой строки ДФ iceberg находит соответсвующее значение ORDERNO в ДФ place
    #если колонка VOLUME в ДФ place больше нуля, но меньше объема снятия/сделки, то код вычитает объем снятой заявки/сделки.
    #при этом в колонке TIME_IDENT выставляется время снятия/сделки (так как это действие вскрыло айсберг)
    #в колонке iceberg ставится значение 1, что идентифицирует айсберг

    #если колонка VOLUME в ДФ place больше нуля и объема снятия/сделки, код вычитает объем снятой заявки/сделки.
    #это действие необходимо, чтобы правильно идентифицировать айсберг, если он будет вскрыт в дальнейшем
    #других действий не совершается

    #в остальных случаях (если айсберг не будет вскрыт / уже был вскрыт) никаких действий с таблицей place не совершается
    #P.S. в остальных случаях на самом деле прибавляется ноль к значению VOLUME в ДФ place, но это лишь технический момент
    #прибавление нуля не повлияет на результаты
    
    for i in range(len(iceberg)):

        order_number = iceberg.loc[i, 'ORDERNO']

        if (place.loc[order_number, 'VOLUME'] >= 0) and (iceberg.loc[i, 'VOLUME'] > place.loc[order_number, 'VOLUME']):
            place.loc[order_number, 'VOLUME'] -= iceberg.loc[i, 'VOLUME']
            place.loc[order_number, 'TIME_IDENT'] = iceberg.loc[i, 'TIME']
            place.loc[order_number, 'ICEBERG'] = 1

        elif (place.loc[order_number, 'VOLUME'] >= 0) and (iceberg.loc[i, 'VOLUME'] < place.loc[order_number, 'VOLUME']):
            place.loc[order_number, 'VOLUME'] -= iceberg.loc[i, 'VOLUME']

        else:
            place.loc[order_number, 'VOLUME'] += 0
            
    #ice_detected - ДФ, содержащий все вскрытые заявки типа "айсберг" за выбранный период времени
    #Примечание: значение VOLUME отражает объем, на котором айсберг был вскрыт. 
    #В ходе дальнейших торгов VOLUME мог и дальше уходить в отрицательную зону
    ice_detected = place[place['ICEBERG']==1]
    ice_detected.index.names = ['Index']
    
    #количество вскрытых айсбергов за выбранный период времени
    #ice_numb = ice_detected['ICEBERG'].sum()
    
    #добавление времени выставления заявок, содержащих айсберги
    place = data[data['ACTION']=='1']
    place_chd = place[['ORDERNO', 'BUYSELL','PRICE', 'TIME', 'DATE']]
    output = pd.merge(ice_detected, place_chd, on = 'ORDERNO', how = 'left')
    
    return output

# (4) Запрос пользовательских данных

In [4]:
# Запрос пользовательских данных
ticker = GetTicker()
table = DefineTable(ticker)
print('Сейчас Вам будет предложено ввести окончание периода анализа')
time_upper = GetTime()
print ('Время начала по умолчанию совпадает с временем начала основной торговой сессии - 10:00:00,000')
time_lower = 100000000
print ('Сейчас Вам будет предложено ввести шаг цены для выбранной бумаги')
price_step = float(input('Введите шаг цены (разделитель - точка): '))
print('Сейчас Вам будет предложено ввести дату расчета')
d = str(input('Введите дату расчета: '))

Сейчас Вам будет предложено ввести данные для заполнения книги заявок
Введите тикер: ALRS
Сейчас Вам будет предложено ввести окончание периода анализа
Введите момент времени (момент времени должен быть записан в формате HHMMSSQQQ): 110000000
Время начала по умолчанию совпадает с временем начала основной торговой сессии - 10:00:00,000
Сейчас Вам будет предложено ввести шаг цены для выбранной бумаги
Введите шаг цены (разделитель - точка): 0.01
Сейчас Вам будет предложено ввести дату расчета
Введите дату расчета: 29.04.2020

# (5) Запрос данных из БД

In [5]:
if table == 'ordshares':
    cur.execute("SELECT * from ordshares WHERE (seccode = '%s') and (ordertime <= '%s');" % (ticker, time_upper))
elif table == 'prefshares':
    cur.execute("SELECT * from prefshares WHERE (seccode = '%s') and (ordertime <= '%s');" % (ticker, time_upper))
rows = cur.fetchall()
data_from_postgres = pd.DataFrame(rows, columns =['NO','SECCODE','BUYSELL','TIME','ORDERNO','ACTION','PRICE','VOLUME','TRADENO','TRADEPRICE']) 
data_from_postgres ['DATE'] = d
data_from_postgres

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE
0,2,ALRS,S,100000000,2,1,67.75,300,NaN,NaN,29.04.2020
1,87,ALRS,S,100000000,87,1,66.36,100,NaN,NaN,29.04.2020
2,313,ALRS,S,100000000,313,1,66.28,2000,NaN,NaN,29.04.2020
3,406,ALRS,B,100000000,406,1,65.00,100,NaN,NaN,29.04.2020
4,486,ALRS,S,100000000,486,1,69.63,900,NaN,NaN,29.04.2020
...,...,...,...,...,...,...,...,...,...,...,...
30746,2879801,ALRS,B,105952605,1400867,1,64.54,2000,NaN,NaN,29.04.2020
30747,2880423,ALRS,B,105953970,1401172,1,66.24,100,NaN,NaN,29.04.2020
30748,2880542,ALRS,S,105954314,1400585,0,66.27,100,NaN,NaN,29.04.2020
30749,2882680,ALRS,B,105959529,1400867,0,64.54,2000,NaN,NaN,29.04.2020
30750,2882686,ALRS,B,105959555,1402265,1,63.99,2000,NaN,NaN,29.04.2020

# (6) Расчет метрик для айсбергов

In [61]:
output = iceberg(data_from_postgres)
output

,ORDERNO,VOLUME,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE
0,86829,-400,1,100142388,1000,S,65.64,100141619,29.04.2020
1,107058,-10500,1,100237033,1000,S,65.69,100222955,29.04.2020
2,113992,-7500,1,100238747,1000,S,65.69,100237043,29.04.2020
3,120434,-7000,1,100820867,1000,S,65.69,100253305,29.04.2020
4,147575,-3400,1,100409587,1000,B,65.51,100359198,29.04.2020
5,419349,-2000,1,102804546,11100,B,65.65,101429482,29.04.2020
6,604043,-700,1,102057066,5000,B,66.00,102057066,29.04.2020
7,608439,-2100,1,102110934,11100,B,66.10,102110934,29.04.2020
8,608442,-2700,1,102214401,11100,B,66.10,102110937,29.04.2020
9,641948,-3900,1,102415496,11100,B,66.10,102214402,29.04.2020
10,684466,-3000,1,102415496,5000,S,66.10,102415496,29.04.2020
11,684467,-8500,1,102415496,5000,S,66.10,102415496,29.04.2020
12,684468,-200,1,102428426,11100,B,66.10,102415496,29.04.2020
13,684469,-2700,1,102415496,5000,S,66.10,102415496,29.04.2020
14,692250,-2200,1,102431696,11100,B,66.10,102428427,29.04.2020
15,820507,-900,1,102917163,11100,B,65.80,102917163,29.04.2020
16,984639,-900,1,103538802,10000,B,66.21,103538802,29.04.2020
17,984640,-10300,1,103538802,10000,B,66.21,103538802,29.04.2020
18,984641,-600,1,103539003,10000,B,66.21,103538802,29.04.2020
19,986960,-1900,1,103543246,10000,B,66.25,103543246,29.04.2020
20,988679,-2500,1,103546790,10000,B,66.30,103546790,29.04.2020
21,1001593,-2600,1,103627625,10000,B,66.40,103627625,29.04.2020
22,1001594,-100,1,103627625,10000,B,66.40,103627625,29.04.2020
23,1001595,-92200,1,103636133,10000,B,66.40,103627625,29.04.2020
24,1004866,-95000,1,103636133,5000,S,66.40,103636133,29.04.2020
25,1014094,-200,1,103701384,10000,B,66.55,103701384,29.04.2020
26,1014095,-200,1,103713889,10000,B,66.55,103701384,29.04.2020
27,1018514,-700,1,103713969,10000,B,66.55,103713889,29.04.2020
28,1018567,-500,1,103714550,10000,B,66.55,103713972,29.04.2020
29,1031713,-1200,1,103805098,5000,S,66.59,103802011,29.04.2020
30,1042098,-400,1,103840808,5000,B,66.58,103838091,29.04.2020
31,1042434,-3500,1,103840812,5000,B,66.58,103840809,29.04.2020
32,1042440,-500,1,103840816,5000,B,66.58,103840813,29.04.2020
33,1044188,-2500,1,103901852,5000,B,66.57,103848094,29.04.2020
34,1047514,-5000,1,103908756,5000,S,66.55,103908756,29.04.2020
35,1058337,-64200,1,104008345,11100,B,66.40,103947310,29.04.2020
36,1089128,-147900,1,104143081,10000,B,66.20,104129380,29.04.2020
37,1092908,-6800,1,104215766,10000,B,66.20,104143082,29.04.2020
38,1102867,-100,1,104226495,11100,B,66.19,104226431,29.04.2020
39,1370593,-2700,1,105739387,1000,S,66.36,105728345,29.04.2020

# (7) Расчет времени между выставлением и обнаружением айсберга

In [62]:
#сцепляем строки с датой и временем в одну строку
output['together_time'] = output['DATE']+output['TIME'].apply(str)
output['together_time_identified'] = output['DATE']+output['TIME_IDENT'].apply(str)
output['TIME'] = [ReverseToDateTime(output.together_time[i]) for i in range (len(output.together_time))]
output['TIME_IDENT'] = [ReverseToDateTime(output.together_time_identified[i]) for i in range (len(output.together_time_identified))]
output['DELTA'] = output['TIME_IDENT'] - output['TIME']
del output['together_time']
del output['together_time_identified']
output

,ORDERNO,VOLUME,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE,DELTA
0,86829,-400,1,2020-04-29 10:01:42.388,1000,S,65.64,2020-04-29 10:01:41.619,29.04.2020,00:00:00.769000
1,107058,-10500,1,2020-04-29 10:02:37.033,1000,S,65.69,2020-04-29 10:02:22.955,29.04.2020,00:00:14.078000
2,113992,-7500,1,2020-04-29 10:02:38.747,1000,S,65.69,2020-04-29 10:02:37.043,29.04.2020,00:00:01.704000
3,120434,-7000,1,2020-04-29 10:08:20.867,1000,S,65.69,2020-04-29 10:02:53.305,29.04.2020,00:05:27.562000
4,147575,-3400,1,2020-04-29 10:04:09.587,1000,B,65.51,2020-04-29 10:03:59.198,29.04.2020,00:00:10.389000
5,419349,-2000,1,2020-04-29 10:28:04.546,11100,B,65.65,2020-04-29 10:14:29.482,29.04.2020,00:13:35.064000
6,604043,-700,1,2020-04-29 10:20:57.066,5000,B,66.00,2020-04-29 10:20:57.066,29.04.2020,00:00:00
7,608439,-2100,1,2020-04-29 10:21:10.934,11100,B,66.10,2020-04-29 10:21:10.934,29.04.2020,00:00:00
8,608442,-2700,1,2020-04-29 10:22:14.401,11100,B,66.10,2020-04-29 10:21:10.937,29.04.2020,00:01:03.464000
9,641948,-3900,1,2020-04-29 10:24:15.496,11100,B,66.10,2020-04-29 10:22:14.402,29.04.2020,00:02:01.094000
10,684466,-3000,1,2020-04-29 10:24:15.496,5000,S,66.10,2020-04-29 10:24:15.496,29.04.2020,00:00:00
11,684467,-8500,1,2020-04-29 10:24:15.496,5000,S,66.10,2020-04-29 10:24:15.496,29.04.2020,00:00:00
12,684468,-200,1,2020-04-29 10:24:28.426,11100,B,66.10,2020-04-29 10:24:15.496,29.04.2020,00:00:12.930000
13,684469,-2700,1,2020-04-29 10:24:15.496,5000,S,66.10,2020-04-29 10:24:15.496,29.04.2020,00:00:00
14,692250,-2200,1,2020-04-29 10:24:31.696,11100,B,66.10,2020-04-29 10:24:28.427,29.04.2020,00:00:03.269000
15,820507,-900,1,2020-04-29 10:29:17.163,11100,B,65.80,2020-04-29 10:29:17.163,29.04.2020,00:00:00
16,984639,-900,1,2020-04-29 10:35:38.802,10000,B,66.21,2020-04-29 10:35:38.802,29.04.2020,00:00:00
17,984640,-10300,1,2020-04-29 10:35:38.802,10000,B,66.21,2020-04-29 10:35:38.802,29.04.2020,00:00:00
18,984641,-600,1,2020-04-29 10:35:39.003,10000,B,66.21,2020-04-29 10:35:38.802,29.04.2020,00:00:00.201000
19,986960,-1900,1,2020-04-29 10:35:43.246,10000,B,66.25,2020-04-29 10:35:43.246,29.04.2020,00:00:00
20,988679,-2500,1,2020-04-29 10:35:46.790,10000,B,66.30,2020-04-29 10:35:46.790,29.04.2020,00:00:00
21,1001593,-2600,1,2020-04-29 10:36:27.625,10000,B,66.40,2020-04-29 10:36:27.625,29.04.2020,00:00:00
22,1001594,-100,1,2020-04-29 10:36:27.625,10000,B,66.40,2020-04-29 10:36:27.625,29.04.2020,00:00:00
23,1001595,-92200,1,2020-04-29 10:36:36.133,10000,B,66.40,2020-04-29 10:36:27.625,29.04.2020,00:00:08.508000
24,1004866,-95000,1,2020-04-29 10:36:36.133,5000,S,66.40,2020-04-29 10:36:36.133,29.04.2020,00:00:00
25,1014094,-200,1,2020-04-29 10:37:01.384,10000,B,66.55,2020-04-29 10:37:01.384,29.04.2020,00:00:00
26,1014095,-200,1,2020-04-29 10:37:13.889,10000,B,66.55,2020-04-29 10:37:01.384,29.04.2020,00:00:12.505000
27,1018514,-700,1,2020-04-29 10:37:13.969,10000,B,66.55,2020-04-29 10:37:13.889,29.04.2020,00:00:00.080000
28,1018567,-500,1,2020-04-29 10:37:14.550,10000,B,66.55,2020-04-29 10:37:13.972,29.04.2020,00:00:00.578000
29,1031713,-1200,1,2020-04-29 10:38:05.098,5000,S,66.59,2020-04-29 10:38:02.011,29.04.2020,00:00:03.087000
30,1042098,-400,1,2020-04-29 10:38:40.808,5000,B,66.58,2020-04-29 10:38:38.091,29.04.2020,00:00:02.717000
31,1042434,-3500,1,2020-04-29 10:38:40.812,5000,B,66.58,2020-04-29 10:38:40.809,29.04.2020,00:00:00.003000
32,1042440,-500,1,2020-04-29 10:38:40.816,5000,B,66.58,2020-04-29 10:38:40.813,29.04.2020,00:00:00.003000
33,1044188,-2500,1,2020-04-29 10:39:01.852,5000,B,66.57,2020-04-29 10:38:48.094,29.04.2020,00:00:13.758000
34,1047514,-5000,1,2020-04-29 10:39:08.756,5000,S,66.55,2020-04-29 10:39:08.756,29.04.2020,00:00:00
35,1058337,-64200,1,2020-04-29 10:40:08.345,11100,B,66.40,2020-04-29 10:39:47.310,29.04.2020,00:00:21.035000
36,1089128,-147900,1,2020-04-29 10:41:43.081,10000,B,66.20,2020-04-29 10:41:29.380,29.04.2020,00:00:13.701000
37,1092908,-6800,1,2020-04-29 10:42:15.766,10000,B,66.20,2020-04-29 10:41:43.082,29.04.2020,00:00:32.684000
38,1102867,-100,1,2020-04-29 10:42:26.495,11100,B,66.19,2020-04-29 10:42:26.431,29.04.2020,00:00:00.064000
39,1370593,-2700,1,2020-04-29 10:57:39.387,1000,S,66.36,2020-04-29 10:57:28.345,29.04.2020,00:00:11.042000

# (8) Неиспользованные функции

In [4]:
def lob_almost(data): 
    orders = data
    # Построение книги лимитированных заявок (LOB - limited order book)
    # Устанавливаем маску лимитных заявок заявках (True - лимитная заявка)
    no_mrk_ind=orders['PRICE']!=0
    #  Таблица выставленных заявок
    plc=orders[['ORDERNO','BUYSELL','PRICE','VOLUME']][(orders['ACTION']=='1') & no_mrk_ind]
    # Таблица отозванных заявок
    wdr=orders[['ORDERNO','VOLUME']][(orders['ACTION']=='0') & no_mrk_ind]
    # Таблица исполненных объемов
    trds=orders[['ORDERNO','VOLUME']][(orders['ACTION']=='2') & no_mrk_ind] 
    trds=trds[['ORDERNO','VOLUME']].groupby(['ORDERNO']).sum()
    trds['ORDERNO']=trds.index
    trds.index=range(trds.shape[0])
    # Формируем книгу заявок через мерж всех рассчитанных показателей
    lob_almost=pd.merge(plc,wdr, on='ORDERNO',how='left',suffixes=('_plc','_wdr'))
    lob_almost=pd.merge(lob_almost,trds, on='ORDERNO', how='left')
    lob_almost=lob_almost.rename(columns={'VOLUME':'VOLUME_trds'})
    lob_almost=lob_almost.fillna(0)
    lob_almost['TOTAL_VOL']=lob_almost['VOLUME_plc']-lob_almost['VOLUME_wdr']-lob_almost['VOLUME_trds']
    lob_almost = lob_almost[['ORDERNO','BUYSELL','PRICE','VOLUME_plc','VOLUME_wdr','VOLUME_trds','TOTAL_VOL']][(lob_almost['TOTAL_VOL']!=0)]
    return lob_almost

def place(data_from_postgres):
    # Строим сводную таблицу с объемами на постановку, снятие и сделки
    # это почти стакан, но не законченный
    lob = lob_almost(data_from_postgres)
    
    # Вытаскиваем обыкновенные заявки
    lob_ordinar = lob[lob['TOTAL_VOL']>0].pivot_table(index = "PRICE", columns = "BUYSELL", values = "TOTAL_VOL", aggfunc = 'sum')
    lob_ordinar.sort_index(axis = 0, inplace = True, ascending = False)
    lob_ordinar = lob_ordinar.fillna(0)
    
    # Вытаскиваем заявки айсберги
    lob_ice = lob[lob['TOTAL_VOL']<0].pivot_table(index = "PRICE", columns = "BUYSELL", values = "TOTAL_VOL", aggfunc = 'sum')
    lob_ice.sort_index(axis = 0, inplace = True, ascending = False)
    lob_ice = lob_ice.fillna(0)
    
    # Сводим все в одной таблице
    lob_fin = pd.merge(lob_ordinar, lob_ice, on = 'PRICE', how = 'outer', suffixes=('','_ice'))
    lob_fin.sort_index(axis = 0, inplace = True, ascending = False)
    lob_fin = lob_fin.fillna(0)
    
    plt.barh(lob_fin.index, -lob_fin['B'], color = 'g', height = 0.2, label = 'Buy')
    plt.barh(lob_fin.index, lob_fin['S'], color = 'r', height = 0.2, label = 'Sell')
    plt.barh(lob_fin.index, -lob_fin['B_ice'], color = 'y', height = 0.2, label = 'Buy_Ice')
    plt.barh(lob_fin.index, lob_fin['S_ice'], color = 'b', height = 0.2, label = 'Sell_Ice')
    plt.legend()



def bid_ask(data_from_postgres, time):

    lob_ = lob_almost(data_from_postgres[data_from_postgres['TIME'] <= time])
    # Вытаскиваем обыкновенные заявки
    lob = lob_[lob_['TOTAL_VOL']>0].pivot_table(index = "PRICE", columns = "BUYSELL", values = "TOTAL_VOL", aggfunc = 'sum')
    lob.sort_index(axis = 0, inplace = True, ascending = False)
    lob = lob.fillna(0)
    
    bid = lob[lob['B'] > 0].index[0]
    ask = lob[lob['S'] > 0].index[-1]
    bid_ask = {'bid': bid, 'ask': ask}
    
    return bid_ask

def place_from_ask_bid(output, price_step):
    """
    Это метод, а не функция, поэтому не возвращает значения
    Значит, нужно просто вызвать метод, дав на вход предыдущий аутпут
    Присваивать значение оператором "=" не надо
    """
    
    output['Bid/Ask'] = 0
    for i in output.index:
        bid = output.loc[i, 'BUYSELL'] == 'B'
        price = output.loc[i, 'PRICE']
        bid_or_ask = bid_ask(data_from_postgres, output.loc[i, 'TIME'] * 1000)
        output.loc[i, 'Bid/Ask'] = bid_or_ask['bid'] - price if bid else price - bid_or_ask['ask']
    output['numb_of_steps'] = output['Bid/Ask'] / price_step
    
def time_to_detection(output):
    
    import matplotlib.pyplot as plt
    
    delta_0 = len(output[output['delta']==0])
    delta_less_10 = len(output[(output['delta']>0)&(output['delta']<=10)])
    delta_10_30 = len(output[(output['delta']>10)&(output['delta']<=30)])
    delta_30_60 = len(output[(output['delta']>30)&(output['delta']<=60)])
    delta_more_60 = len(output[output['delta']>60])
    plt.bar('0', delta_0, color = 'lime')
    plt.bar('0-10', delta_less_10, color = 'g')
    plt.bar('10-30', delta_10_30, color = 'yellow')
    plt.bar('30-60', delta_30_60, color = 'orange')
    plt.bar('>60', delta_more_60, color = 'red')
    plt.xlabel('Время до обнаружения айсберга после его выставления')
    plt.ylabel('Количество заявок')

# (9) Таблица с айсбергами и характеристиками заявки

In [15]:
output = iceberg(data_from_postgres)
output

     ORDERNO  VOLUME  iceberg  time_identified BUYSELL  PRICE    TIME  delta
0      86829    -400        1           100142       S  65.64  100142      0
1     107058  -10500        1           100237       S  65.69  100223     14
2     113992   -7500        1           100239       S  65.69  100237      2
3     120434   -7000        1           100821       S  65.69  100253    328
4     147575   -3400        1           100410       B  65.51  100359     11
..       ...     ...      ...              ...     ...    ...     ...    ...
163  6731494   -3400        1           174831       S  65.98  174819     12
164  6734093    -200        1           174831       B  65.93  174831      0
165  6805069   -1300        1           175549       B  66.05  175549      0
166  6805439   -3000        1           175552       B  66.05  175552      0
167  6818196   -1800        1           175652       B  66.13  175652      0

[168 rows x 8 columns]

# (10) Добавление расстояния от Bid/Ask в ценах на момент выставления заявки¶

In [45]:
place_from_ask_bid(output, price_step)
output

NameError: name 'place_from_ask_bid' is not defined

# (11) Забираем данные не из БД, а сразу из файликов

## (11.1) Установка всех необходимых пакетов

In [34]:
import pymysql.cursors
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime, date, time

## (11.2) Определение функций

In [8]:
def ReverseToDateTime(t):
    format = '%Y%m%d%H%M%S%f'
    time_str = dt.datetime.strptime(t,format)
    return time_str

def iceberg(data_from_postgres):
    data = data_from_postgres
    #place - датафрейм (ДФ), который содержит наблюдения только по выставленным заявкам (ACTION = 1)
    #в ДФ содержатся данные по номеру заявки и выставленному объему (видимому)
    #iceberg = 1, если обнаружено, что выставленная заявка - айсберг. 0 - иначе
    #TIME_IDENT - время вскрытия заявки типа "айсберг". время указано для заявки, вскрывшей айсберг (снятие заявки или сделка) 
    place = data[data['ACTION']==1]
    place = place[['ORDERNO', 'VOLUME','SECCODE']]
    place['ICEBERG'] = 0
    place['TIME_IDENT'] = 0
    place['VOLUME_INI'] = 0
    place['VOLUME_INI'] = place['VOLUME']
    place.index = place['ORDERNO']
    
    #iceberg - ДФ с данными по снятым заявкам и по сделкам (ACTION = 0 или ACTION = 2)
    iceberg = data[data['ACTION']!=1]
    iceberg = iceberg.reset_index()
    iceberg = iceberg[['ORDERNO', 'VOLUME', 'TIME']]
    
    #Идея: 
    #ДФ place содержит только уникальные наблюдения по каждому ORDERNO (ORDERNO - уникальный ключ для ДФ place)
    #для каждой строки ДФ iceberg находит соответсвующее значение ORDERNO в ДФ place
    #если колонка VOLUME в ДФ place больше нуля, но меньше объема снятия/сделки, то код вычитает объем снятой заявки/сделки.
    #при этом в колонке TIME_IDENT выставляется время снятия/сделки (так как это действие вскрыло айсберг)
    #в колонке iceberg ставится значение 1, что идентифицирует айсберг

    #если колонка VOLUME в ДФ place больше нуля и объема снятия/сделки, код вычитает объем снятой заявки/сделки.
    #это действие необходимо, чтобы правильно идентифицировать айсберг, если он будет вскрыт в дальнейшем
    #других действий не совершается

    #в остальных случаях (если айсберг не будет вскрыт / уже был вскрыт) никаких действий с таблицей place не совершается
    #P.S. в остальных случаях на самом деле прибавляется ноль к значению VOLUME в ДФ place, но это лишь технический момент
    #прибавление нуля не повлияет на результаты
    
    for i in range(len(iceberg)):

        order_number = iceberg.loc[i, 'ORDERNO']

        if (place.loc[order_number, 'VOLUME'] >= 0) and (iceberg.loc[i, 'VOLUME'] > place.loc[order_number, 'VOLUME']):
            place.loc[order_number, 'VOLUME'] -= iceberg.loc[i, 'VOLUME']
            place.loc[order_number, 'TIME_IDENT'] = iceberg.loc[i, 'TIME']
            place.loc[order_number, 'ICEBERG'] = 1

        elif (place.loc[order_number, 'VOLUME'] >= 0) and (iceberg.loc[i, 'VOLUME'] < place.loc[order_number, 'VOLUME']):
            place.loc[order_number, 'VOLUME'] -= iceberg.loc[i, 'VOLUME']

        else:
            place.loc[order_number, 'VOLUME'] += 0
            
    #ice_detected - ДФ, содержащий все вскрытые заявки типа "айсберг" за выбранный период времени
    #Примечание: значение VOLUME отражает объем, на котором айсберг был вскрыт. 
    #В ходе дальнейших торгов VOLUME мог и дальше уходить в отрицательную зону
    ice_detected = place[place['ICEBERG']==1]
    ice_detected.index.names = ['Index']
    
    #количество вскрытых айсбергов за выбранный период времени
    #ice_numb = ice_detected['ICEBERG'].sum()
    
    #добавление времени выставления заявок, содержащих айсберги
    place = data[data['ACTION']==1]
    place_chd = place[['ORDERNO', 'BUYSELL','PRICE', 'TIME', 'DATE']]
    output = pd.merge(ice_detected, place_chd, on = 'ORDERNO', how = 'left')
    
    return output

## (11.3) Запрос пользовательских данных

In [2]:
ticker = 'GAZP'
d = '20190304'

## (11.4) Запрос данных

In [5]:
#Читаем ордерлог из csv
orderlog = pd.read_csv('OrderLog20190304.txt',header=0)
orderlog

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE
0,1,AFKS,S,100000000000,1,1,10.057,100,NaN,NaN
1,2,ABRD,S,100000000000,2,1,150.000,500,NaN,NaN
2,3,ABRD,S,100000000000,3,1,139.500,30,NaN,NaN
3,4,AFLT,S,100000000000,4,1,102.740,10,NaN,NaN
4,5,AGRO,B,100000000000,5,1,786.000,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5424366,5424367,CBOM,S,184459255003,40385,0,5.558,41800,NaN,NaN
5424367,5424368,CBOM,S,184459255367,40399,0,5.562,55300,NaN,NaN
5424368,5424369,CBOM,S,184459255755,40407,0,5.566,104600,NaN,NaN
5424369,5424370,PIKK,B,184459256100,1007823,0,353.000,1250,NaN,NaN
5424370,5424371,PIKK,S,184459256476,1125299,0,356.100,1250,NaN,NaN

In [6]:
#Отбираем данные ордерлога только по одному инструменту
instr_orderlog = orderlog[orderlog['SECCODE']==ticker]
instr_orderlog ['DATE'] = d
instr_orderlog

/Users/ekaterina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE
53,54,GAZP,B,100000000000,54,1,150.00,10,NaN,NaN,20190304
58,59,GAZP,B,100000000000,59,1,151.59,200,NaN,NaN,20190304
65,66,GAZP,B,100000000000,66,1,152.00,10,NaN,NaN,20190304
70,71,GAZP,B,100000000000,71,1,154.99,10,NaN,NaN,20190304
431,432,GAZP,S,100000000000,432,1,170.11,10,NaN,NaN,20190304
...,...,...,...,...,...,...,...,...,...,...,...
5424218,5424219,GAZP,S,184429740974,2198823,0,156.00,40,NaN,NaN,20190304
5424219,5424220,GAZP,S,184432098651,2326756,0,155.37,1000,NaN,NaN,20190304
5424268,5424269,GAZP,S,184451327893,2331971,0,155.50,10,NaN,NaN,20190304
5424281,5424282,GAZP,S,184457439758,2073027,0,157.45,1000,NaN,NaN,20190304
5424327,5424328,GAZP,B,184459237737,2576521,0,154.57,500,NaN,NaN,20190304

## (11.5) Расчет метрик для айсбергов

In [7]:
output = iceberg(instr_orderlog)
output

,ORDERNO,VOLUME,SECCODE,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE
0,199077,-2830,GAZP,1,100936467866,2000,B,156.28,100643595004,20190304
1,359638,-210,GAZP,1,105331759856,2000,B,156.18,103027072289,20190304
2,397852,-3000,GAZP,1,103805393784,2000,S,156.58,103657193855,20190304
3,486370,-1000,GAZP,1,105342904115,1790,B,156.18,105331809856,20190304
4,516105,-1000,GAZP,1,110005256841,2000,B,156.03,110003906212,20190304
...,...,...,...,...,...,...,...,...,...,...
169,2471641,-1740,GAZP,1,181720153960,620,S,154.99,181719044983,20190304
170,2581833,-1970,GAZP,1,183944074091,3000,S,154.65,183944074091,20190304
171,2581834,-1000,GAZP,1,183944074091,1030,S,154.65,183944074091,20190304
172,2581835,-830,GAZP,1,183944074091,2000,S,154.65,183944074091,20190304
173,2581836,-7830,GAZP,1,183944074091,2170,S,154.65,183944074091,20190304

## (11.6) Расчет времени между выставлением и обнаружением айсберга

In [8]:
#сцепляем строки с датой и временем в одну строку
output['together_time'] = output['DATE']+output['TIME'].apply(str)
output['together_time_identified'] = output['DATE']+output['TIME_IDENT'].apply(str)
output['TIME'] = [ReverseToDateTime(output.together_time[i]) for i in range (len(output.together_time))]
output['TIME_IDENT'] = [ReverseToDateTime(output.together_time_identified[i]) for i in range (len(output.together_time_identified))]
output['DELTA'] = output['TIME_IDENT'] - output['TIME']
del output['together_time']
del output['together_time_identified']
output

,ORDERNO,VOLUME,SECCODE,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE,DELTA
0,199077,-2830,GAZP,1,2019-03-04 10:09:36.467866,2000,B,156.28,2019-03-04 10:06:43.595004,20190304,00:02:52.872862
1,359638,-210,GAZP,1,2019-03-04 10:53:31.759856,2000,B,156.18,2019-03-04 10:30:27.072289,20190304,00:23:04.687567
2,397852,-3000,GAZP,1,2019-03-04 10:38:05.393784,2000,S,156.58,2019-03-04 10:36:57.193855,20190304,00:01:08.199929
3,486370,-1000,GAZP,1,2019-03-04 10:53:42.904115,1790,B,156.18,2019-03-04 10:53:31.809856,20190304,00:00:11.094259
4,516105,-1000,GAZP,1,2019-03-04 11:00:05.256841,2000,B,156.03,2019-03-04 11:00:03.906212,20190304,00:00:01.350629
...,...,...,...,...,...,...,...,...,...,...,...
169,2471641,-1740,GAZP,1,2019-03-04 18:17:20.153960,620,S,154.99,2019-03-04 18:17:19.044983,20190304,00:00:01.108977
170,2581833,-1970,GAZP,1,2019-03-04 18:39:44.074091,3000,S,154.65,2019-03-04 18:39:44.074091,20190304,00:00:00
171,2581834,-1000,GAZP,1,2019-03-04 18:39:44.074091,1030,S,154.65,2019-03-04 18:39:44.074091,20190304,00:00:00
172,2581835,-830,GAZP,1,2019-03-04 18:39:44.074091,2000,S,154.65,2019-03-04 18:39:44.074091,20190304,00:00:00
173,2581836,-7830,GAZP,1,2019-03-04 18:39:44.074091,2170,S,154.65,2019-03-04 18:39:44.074091,20190304,00:00:00

## (11.7) Цикл для поочередного чтения данных по разным тикерам из разных файлов

In [100]:
#Создаем список из всех названий файлов с данными
orderlogs = [#'OrderLog20190304.txt',
             'OrderLog20190305.txt',
             'OrderLog20190306.txt',
             'OrderLog20190307.txt',
             'OrderLog20190311.txt',
             'OrderLog20190312.txt',
             'OrderLog20190313.txt',
             'OrderLog20190314.txt',
             'OrderLog20190315.txt',
             'OrderLog20190318.txt',
             'OrderLog20190319.txt',
             'OrderLog20190320.txt',
             'OrderLog20190321.txt',
             'OrderLog20190322.txt',
             'OrderLog20190325.txt',
             'OrderLog20190326.txt',
             'OrderLog20190327.txt',
             'OrderLog20190328.txt'#,
             #'OrderLog20190329.txt'
            ]

In [101]:
#Создаем список из инструментов, относящихся к числу голубых фишек
tickers = ['GAZP',
           'SBER',
           'GMKN',
           'LKOH',
           'MTSS',
           'MGNT',
           'TATN',
           'NVTK',
           'YNDX',
           'ROSN',
           'FIVE',
           'VTBR',
           'SNGS',
           'CHMF',
           'ALRS'
          ]

In [103]:
# поочередно читаем данные по каждому инструменту из каждого файла и сохраняем данные в отдельных файлах
for l in orderlogs:
    orderlog = pd.read_csv(l,header=0)
    d = l[8:16]
    for m in tickers:
        ticker = m
        instr_orderlog = orderlog[orderlog['SECCODE']==ticker]
        instr_orderlog ['DATE'] = d
        output = iceberg(instr_orderlog)
        output_name = ticker + d + '.csv'
        output.to_csv(output_name,index=False)

/Users/ekaterina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

TypeError: 'int' object is not callable

In [51]:
# сливаем результаты из всех файлов в один датафрейм
iceberg_all = pd.DataFrame()
for l in orderlogs:
    d = l[8:16]
    for m in tickers:
        ticker = m
        output_name = ticker + d + '.csv'
        df_temp = pd.read_csv(output_name,header=0)
        iceberg_all = pd.concat([df,df_temp])
iceberg_all = iceberg_all.reset_index()         
iceberg_all

/Users/ekaterina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

,index,ORDERNO,VOLUME,SECCODE,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE
0,0,199077,-2830,GAZP,1,100936467866,2000,B,156.28,100643595004,20190304
1,1,359638,-210,GAZP,1,105331759856,2000,B,156.18,103027072289,20190304
2,2,397852,-3000,GAZP,1,103805393784,2000,S,156.58,103657193855,20190304
3,3,486370,-1000,GAZP,1,105342904115,1790,B,156.18,105331809856,20190304
4,4,516105,-1000,GAZP,1,110005256841,2000,B,156.03,110003906212,20190304
...,...,...,...,...,...,...,...,...,...,...,...
1919,436,3821455,-360,ALRS,1,183219963586,930,B,92.47,183219963550,20190329
1920,437,3845898,-1000,ALRS,1,183514256529,1000,B,92.58,183514255473,20190329
1921,438,3845899,-490,ALRS,1,183514256529,1000,B,92.58,183514255473,20190329
1922,439,3845904,-770,ALRS,1,183514257134,510,B,92.58,183514257134,20190329
1923,440,3866096,-6000,ALRS,1,183749095290,1000,B,92.62,183723904920,20190329

In [52]:
# добавляем расчет времени между выставлением и выявлением айсберга
iceberg_all['together_time'] = iceberg_all['DATE'].apply(str)+iceberg_all['TIME'].apply(str)
iceberg_all['together_time_identified'] = iceberg_all['DATE'].apply(str)+iceberg_all['TIME_IDENT'].apply(str)
iceberg_all['TIME'] = [ReverseToDateTime(iceberg_all.together_time[i]) for i in range (len(iceberg_all.together_time))]
iceberg_all['TIME_IDENT'] = [ReverseToDateTime(iceberg_all.together_time_identified[i]) for i in range (len(iceberg_all.together_time_identified))]
iceberg_all['DELTA'] = iceberg_all['TIME_IDENT'] - iceberg_all['TIME']
del iceberg_all['together_time']
del iceberg_all['together_time_identified']
iceberg_all

,index,ORDERNO,VOLUME,SECCODE,ICEBERG,TIME_IDENT,VOLUME_INI,BUYSELL,PRICE,TIME,DATE,DELTA
0,0,199077,-2830,GAZP,1,2019-03-04 10:09:36.467866,2000,B,156.28,2019-03-04 10:06:43.595004,20190304,00:02:52.872862
1,1,359638,-210,GAZP,1,2019-03-04 10:53:31.759856,2000,B,156.18,2019-03-04 10:30:27.072289,20190304,00:23:04.687567
2,2,397852,-3000,GAZP,1,2019-03-04 10:38:05.393784,2000,S,156.58,2019-03-04 10:36:57.193855,20190304,00:01:08.199929
3,3,486370,-1000,GAZP,1,2019-03-04 10:53:42.904115,1790,B,156.18,2019-03-04 10:53:31.809856,20190304,00:00:11.094259
4,4,516105,-1000,GAZP,1,2019-03-04 11:00:05.256841,2000,B,156.03,2019-03-04 11:00:03.906212,20190304,00:00:01.350629
...,...,...,...,...,...,...,...,...,...,...,...,...
1919,436,3821455,-360,ALRS,1,2019-03-29 18:32:19.963586,930,B,92.47,2019-03-29 18:32:19.963550,20190329,00:00:00.000036
1920,437,3845898,-1000,ALRS,1,2019-03-29 18:35:14.256529,1000,B,92.58,2019-03-29 18:35:14.255473,20190329,00:00:00.001056
1921,438,3845899,-490,ALRS,1,2019-03-29 18:35:14.256529,1000,B,92.58,2019-03-29 18:35:14.255473,20190329,00:00:00.001056
1922,439,3845904,-770,ALRS,1,2019-03-29 18:35:14.257134,510,B,92.58,2019-03-29 18:35:14.257134,20190329,00:00:00
1923,440,3866096,-6000,ALRS,1,2019-03-29 18:37:49.095290,1000,B,92.62,2019-03-29 18:37:23.904920,20190329,00:00:25.190370

In [97]:
# собрать статистику по всем инструментам по количеству рыночных и лимитных заявок
statistics_all = pd.DataFrame(columns = ['DATE','SECCODE','MARKET','LIMIT','ICEBERG'])
for l in orderlogs:
    d = l[8:16]
    orderlog = pd.read_csv(l,header=0)
    for m in tickers:
        ticker = m
        market = len(orderlog.loc[(orderlog['PRICE']==0) & (orderlog['SECCODE']==ticker)])
        limit = len(orderlog.loc[(orderlog['PRICE']!=0) & (orderlog['SECCODE']==ticker)])
        iceberglog_name = ticker + d + '.csv'
        iceberg = len(pd.read_csv(iceberglog_name,header=0))
        limit = limit - iceberg
        statistics_all.loc[len(statistics_all)] = [d,ticker,market,limit,iceberg]

In [98]:
statistics_all

        DATE SECCODE MARKET   LIMIT ICEBERG
0   20190304    GAZP   5175  341398     174
1   20190304    SBER  11329  421200     820
2   20190304    GMKN   4706  169269     119
3   20190304    LKOH   2406  243075     286
4   20190304    MTSS    963   69730      27
5   20190304    MGNT   3193  180720      55
6   20190304    TATN    745  171007       0
7   20190304    NVTK    895   67640      18
8   20190304    YNDX   2063  127750      47
9   20190304    ROSN   1265  121752      22
10  20190304    FIVE    512  108712       3
11  20190304    VTBR   2114  128097      54
12  20190304    SNGS   1007  100812      20
13  20190304    SHMF      0       0       0
14  20190304    ALRS   4570  208771     419
15  20190329    GAZP   6397  650801     449
16  20190329    SBER  16895  893499    1021
17  20190329    GMKN   4515  283642     187
18  20190329    LKOH   2650  379595     131
19  20190329    MTSS   1988  157172     145
20  20190329    MGNT   5861  312832     107
21  20190329    TATN   1046  230206      32
22  20190329    NVTK    954  268728      49
23  20190329    YNDX   1775  220371      55
24  20190329    ROSN   1878  224681     224
25  20190329    FIVE    676  150611      28
26  20190329    VTBR   3180  172861     276
27  20190329    SNGS   1263  133490      15
28  20190329    SHMF      0       0       0
29  20190329    ALRS   2452  215785     441